<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"></meta>
<title>Publication</title>
<link th:href="@{~/mainStyle.css}" rel="stylesheet" type="text/css" /> 
</head>
<body th:inline="text">

<div id="navigation">
<table>
<tr>
<td><a th:href="@{~/index.html}">Home</a></td>
<td><a th:href="@{~/publications}">Publications</a></td>
<td><a th:href="@{~/authors}">Authors</a></td>
</tr>
</table>

</div>

<div id="main">
	<h1>Author</h1>

	First Name: <span th:text="${author.firstName}"></span><br></br>
	Middle Initial: <span th:text="${author.middleInitial}"></span><br></br>
	Last Name: <span th:text="${author.lastName}"></span><br></br>
	University: <span th:text="${author.university}"></span><br></br>
	
</div>
</body>
</html>