<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"></meta>
<title>Insert title here</title>
<link th:href="@{~/mainStyle.css}" rel="stylesheet" type="text/css" /> 
</head>
<body th:inline="text">
</head>
<body>

<div id="navigation">
<table>
<tr>
<td><a th:href="@{~/index.html}">Home</a></td>
<td><a th:href="@{~/publications}">Publications</a></td>
<td><a th:href="@{~/authors}">Authors</a></td>
</tr>
</table>

</div>

<div id="main">
	<h1>Spring MVC Hello World Annotation Example</h1>

	Message <span th:text="${msg}"></span>

</div>
</body>
</html>