<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="ISO-8859-1"></meta>
<title>MathCSBib</title>
<link th:href="@{~/mainStyle.css}" rel="stylesheet" type="text/css" />
</head>
<body th:inline="text">

	<div id="navigation">
		<table>
			<tr>
				<td><a th:href="@{~/}">Home</a></td>
				<td><a th:href="@{~/publications}">Publications</a></td>
				<td><a th:href="@{~/authors}">Authors</a></td>
				<td><a th:href="@{~/topics}">Topics</a></td>
			</tr>
		</table>

	</div>

	<div id="main">
		<h1>Welcome!</h1>

		<div th:if="${#httpServletRequest.userPrincipal != null}">
			<a th:href="@{~/user}">User Page</a>
			<form th:action="@{/logout}" method="post">
				<input type="submit" value="Sign Out" />
			</form>
			<p>
				Click <a th:href="@{~/hello}">here</a> to see a greeting.
			</p>
		</div>

		<div th:if="${#httpServletRequest.userPrincipal == null}">
			<a th:href="@{~/register}">Register</a> <br></br>
			<a th:href="@{~/login}">Login</a>
		</div>

	</div>
</body>
</html>