<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"></meta>
<title>New Author Form</title>
</head>
<body>
	<h1>MathCSBib</h1>
	
	<h3>Add A New Author</h3>

	<form action="#" th:action="@{/authors/newAuthor}" method="post" th:object="${newAuthor}">
	
	<label for="firstName">First Name:</label>
	<input type="text" th:field="*{firstName}"/>
	
	<label for="middleInitial">Middle Initial:</label>
	<input type="text" th:field="*{middleInitial}"/>
	
	<label for="lastName">Last Name:</label>
	<input type="text" th:field="*{lastName}"/>
	
	<label for="university">University:</label>
	<input type="text" th:field="*{university}"/>
	
	<input type="submit" />
	
	</form>
</body>
</html>