<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"></meta>
<title>New Publication Form</title>
<link th:href="@{~/mainStyle.css}" rel="stylesheet" type="text/css" /> 
</head>
<body th:inline="text">

<div id="navigation">
<table>
<tr>
<td><a th:href="@{~/index.html}">Home</a></td>
<td><a th:href="@{~/publications}">Publications</a></td>
<td><a th:href="@{~/authors}">Authors</a></td>
</tr>
</table>

</div>

<div id="main">
	<h1>MathCSBib</h1>
	
	<h3>Add A New Publication</h3>

	<form action="#" th:action="@{/publications/newPublication}" method="post" th:object="${newPublication}">
	
	<label for="title">Title:</label>
	<input type="text" th:field="*{title}"/>
	
	<label for="url">URL:</label>
	<input type="text" th:field="*{url}"/>
		
	<input type="submit" />
	
	</form>
	
</div>
</body>
</html>