<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>REGISTER</title>
<link th:href="@{~/mainStyle.css}" rel="stylesheet" type="text/css" />
</head>
<body th:inline="text">

	<div id="navigation">
		<table>
			<tr>
				<td><a th:href="@{~/}">Home</a></td>
				<td><a th:href="@{~/publications}">Publications</a></td>
				<td><a th:href="@{~/authors}">Authors</a></td>
				<td><a th:href="@{~/topics}">Topics</a></td>
			</tr>
		</table>

	</div>

	<div id="main">
		<form class="form-signin" th:action="@{/register}" th:object="${user}"
			action="/register" method="post">
			<h2 class="form-signin-heading">Please register</h2>

			<div th:if="${#fields.hasErrors()}" class="alert alert-danger">
				<div th:if="${#fields.hasErrors('userName')}"
					th:errors="*{userName}">Username error</div>
				<div th:if="${#fields.hasErrors('password')}"
					th:errors="*{password}">Password error</div>
			</div>
			<p>
				<input type="text" id="inputUser" name="userName"
					class="form-control middle" placeholder="Username"
					required="required" />
			</p>
			<p>
				<input type="password" id="inputPassword" name="password"
					class="form-control bottom" placeholder="Password"
					required="required" />
			</p>
			<p>
				<input type="password" id="verifyPassword" name="confirmPassword"
					class="form-control bottom" placeholder="Verify Password"
					required="required" />
			</p>
			<p>
				<button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
			</p>
		</form>
	</div>
</body>
</html>